<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>295205412012-ai2ch2fd38f2mbs49c1b96u69vu96inv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.295205412012-ai2ch2fd38f2mbs49c1b96u69vu96inv</string>
	<key>API_KEY</key>
	<string>AIzaSyBF11Fbskov2XdxaxSD--nLP4t0iZHtoZo</string>
	<key>GCM_SENDER_ID</key>
	<string>295205412012</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.jhhs.624320.Trello-Project--Version-2-</string>
	<key>PROJECT_ID</key>
	<string>trelloproject----v2</string>
	<key>STORAGE_BUCKET</key>
	<string>trelloproject----v2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:295205412012:ios:34de4ce8745fee97399309</string>
</dict>
</plist>